<dx-tab-panel #tabPanel id="main_tab_panel">
  <dxi-item title="Conversion">
  <!-- <dxi-item [title]="LANG_title_converting"> -->

    <div class="content-block">
      <!-- <dx-button stylingMode="contained" type="normal" (onClick)="switch_to_french()">
        <img src="french_flag.svg" height="20">
      </dx-button>
      <dx-button stylingMode="contained" type="normal" (onClick)="switch_to_english()">
        <img src="uk_flag.svg" height="20">
      </dx-button> -->

      <!-- <dx-toolbar> -->

      <dxi-item location="before">
        <dx-file-uploader #up id="dx-file-uploader_xml_files" selectButtonText="Load XML files" labelText="" accept=".xml"
          uploadMode="useForm" multiple="true" [showFileList]="false"
          (onValueChanged)="onFileUploaderValueChanged($event)">
        </dx-file-uploader>
          <!-- <dx-file-uploader #up id="dx-file-uploader_xml_files" [selectButtonText]="LANG_dx_file_uploader_xml_files" labelText="" accept=".xml"
            uploadMode="useForm" multiple="true" [showFileList]="false"
            (onValueChanged)="onFileUploaderValueChanged($event)">
        </dx-file-uploader> -->
      </dxi-item>

      <!-- <dxi-item location="after" [visible]="suggestionTickVisible" style="margin-right:16px">
        <dx-check-box text="Suggestions" [(value)]="suggestionPopupTagsVisible"></dx-check-box>
      </dxi-item> -->


      <!-- </dx-toolbar> -->
    </div>

    <!-- <div class="content-block"> -->
    <div id="suggestion_div" class="content-block" style="display:none">
      <dx-data-grid id="tagdefGrid" [allowColumnResizing]="true" [columnAutoWidth]="true"
        [dataSource]="suggestionDataSource" keyExpr="id" [showColumnHeaders]="true"
        (onRowUpdated)="onRowUpdated($event)" [showBorders]="true"
        (onToolbarPreparing)="onToolbarPreparingSuggestionPopup($event)" (onRowUpdated)="updateSystem()">
        <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="false"></dxo-editing>
        <dxo-scrolling mode="normal"></dxo-scrolling>

        <dxi-column dataField="quality" caption="Quality" [allowEditing]="false"></dxi-column>
        <!-- <dxi-column dataField="quality" [caption]="LANG_caption_quality" [allowEditing]="false"></dxi-column> -->
        <dxi-column dataField="scale" caption="Scale" [allowEditing]="false"></dxi-column>
        <!-- <dxi-column dataField="scale" [caption]="LANG_caption_scale" [allowEditing]="false"></dxi-column> -->
        <dxi-column dataField="suggestions_str" caption="Suggestions" [allowEditing]="false">
        </dxi-column>
        <!-- <dxi-column dataField="suggestions_str" [caption]="LANG_caption_suggestions" [allowEditing]="false">
        </dxi-column> -->
        <dxi-column dataField="choice" caption="Choice"></dxi-column>
        <!-- <dxi-column dataField="choice" [caption]="LANG_caption_choice"></dxi-column> -->

        <div *dxTemplate="let data of 'cellTemplate'">
          <dx-color-box [readOnly]="true" [value]="data.value" applyButtonText="OK" cancelButtonText="Annuler">
          </dx-color-box>
        </div>

      </dx-data-grid>
      <br />
      <span id="first_document_announcer_span" style="display:block">First document (on <span id="number_of_documents_span"></span>):</span>
      <br />
      <dx-text-area [spellcheck]="false" [value]="first_document" [visible]="firstDocumentVisible" height="15%">
      </dx-text-area>
      <br />

      <!-- <dxi-item location="before" [visible]="auto_authentication"> -->
      <!-- <dxi-item location="before" [visible]="suggestionPopupTagsVisible"> -->
      <dxi-item location="before">

        <span id="project_name_span">Project name:</span>
        <dx-text-box placeholder="Nom du projet" id="project_name_input" style="display:inline"
          [(value)]="project_name">
        </dx-text-box>
        <canvas id="captcha_canvas" style="display:inline; position: absolute; right: 22%" width="180"
          height="50"></canvas>
          <dx-text-box placeholder="CAPTCHA" id="captcha_input"
            style="display:inline; position:absolute; right: 2%" [(value)]="captcha_user_answer"></dx-text-box>
            <!-- <dx-text-box [placeholder]="LANG_captcha_placeholder" id="captcha_input"
              style="display:inline; position:absolute; right: 2%" [(value)]="captcha_user_answer"></dx-text-box> -->

      </dxi-item>
      <dxi-item location="after">

        <dx-button stylingMode="contained" text="Generate" type="normal" [width]="300" [visible]="firstDocumentVisible"
          (onClick)="generer()">
        </dx-button>
        <!-- <dx-button stylingMode="contained" [text]="LANG_generate" type="normal" [width]="200" [visible]="firstDocumentVisible"
        (onClick)="generer()">
      </dx-button> -->

      </dxi-item>
      <br />
      <dx-progress-bar [min]="0" [max]="100" [value]="conversion_progress"></dx-progress-bar>
    </div>
  </dxi-item>
  <dxi-item title="Tags">
  <!-- <dxi-item [title]="LANG_title_tags"> -->
    <!-- <h2 class="content-block">Conversion (alt. sax parser) {{fichierXML}} </h2> -->
    <div class="content-block">

      <!-- <dx-toolbar>

        <dxi-item location="before">
          <dx-file-uploader #up selectButtonText="Charger des fichiers XML" labelText="" accept=".xml"
            uploadMode="useForm" multiple="true" [showFileList]="false"
            (onValueChanged)="onFileUploaderValueChanged($event)">
          </dx-file-uploader>
        </dxi-item>

        <dxi-item location="after" [visible]="suggestionTickVisible" style="margin-right:16px">
          <dx-check-box text="Suggestions" [(value)]="suggestionPopupTagsVisible"></dx-check-box>
        </dxi-item>


      </dx-toolbar> -->

      <dx-data-grid id="tagdefGrid" [allowColumnResizing]="true" [columnAutoWidth]="true"
        [dataSource]="tagdefDataSource" keyExpr="id" [showColumnHeaders]="true" (onRowUpdated)="onRowUpdated($event)"
        [showBorders]="true" (onToolbarPreparing)="onToolbarPreparing($event)" height="100%">

        <dxo-scrolling mode="normal"></dxo-scrolling>
        <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="false"></dxo-editing>
        <dxo-popup [fullScreen]="false" title="Edition" [showTitle]="true" [width]="800" [height]="350"> </dxo-popup>
        <dxo-form [colCount]="1" [labelLocation]="'left'">
          <dxi-item editorType="dxSelectBox" dataField="type"></dxi-item>
          <dxi-item editorType="dxTextBox" dataField="constraint"></dxi-item>
          <dxi-item editorType="dxColorBox" [editorOptions]="{ editAlphaChannel: true }" dataField="color"></dxi-item>
        </dxo-form>

        <dxo-selection mode="single"></dxo-selection>

        <dxi-column dataField="tag" caption="Tag" [allowEditing]="false"></dxi-column>
        <!-- <dxi-column dataField="attrsstr" caption="Attributs" [allowEditing]="false"></dxi-column> -->
        <dxi-column dataField="attrs" caption="Attributes" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="constraint" caption="Constraint">
          <dxo-lookup [dataSource]="constraintTypes" displayExpr="label" valueExpr="value">
          </dxo-lookup>

        </dxi-column>
        <dxi-column dataField="type" caption="Type">
          <dxo-lookup [dataSource]="tagTypes" displayExpr="label" valueExpr="value">
          </dxo-lookup>
        </dxi-column>

        <dxi-column dataField="quantity" caption="Quantity" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="averageCharCount" caption="Average length" [allowEditing]="false"></dxi-column>


        <div *dxTemplate="let data of 'cellTemplate'">
          <dx-color-box [readOnly]="true" [value]="data.value" applyButtonText="OK" cancelButtonText="Annuler">
          </dx-color-box>
        </div>

      </dx-data-grid>

      <dx-scroll-view width="100%">
        <pre>
    <p id="xml_p"></p>
    </pre>
      </dx-scroll-view>


    </div>

  </dxi-item>

  <dxi-item title="History">
  <!-- <dxi-item [title]="LANG_title_history"> -->
    <div class="content-block">
      <dx-data-grid [allowColumnResizing]="true" [columnAutoWidth]="true" [dataSource]="history_list" keyExpr="id"
        [showColumnHeaders]="true" (onRowUpdated)="onRowUpdated($event)" [showBorders]="true"
        (onToolbarPreparing)="onToolbarPreparing($event)" height="100%">

        <dxo-selection mode="single"></dxo-selection>

        <!-- <dxi-column dataField="id" caption="#" [allowEditing]="false"></dxi-column> -->
        <dxi-column dataField="id" caption="Index" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="project_name" caption="Project name" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="doc_separator" caption="Document-separating tag" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="date" caption="Date" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="file_name" caption="File names" [allowEditing]="false"></dxi-column>

      </dx-data-grid>

      <p>Converting back to the initial format from an INCEpTION export (to do so, export with UIMA CAS XML 1.1 as an additional format, put the ZIP file just below and indicate the index of the initial converting that may be found in the history): </p>

      <dx-file-uploader #up selectButtonText="Load an INCEpTION export file" labelText="" accept=".zip"
        uploadMode="useForm" multiple="true" [showFileList]="false"
        (onValueChanged)="onReconverterFileUploaderValueChanged($event)">
      </dx-file-uploader>
      <p id="reconverter_filename_p"></p>
      <dx-text-box placeholder="Index in history" id="index_in_history_input" style="display:inline"
        [(value)]="index_in_history"></dx-text-box>
      <dx-button stylingMode="contained" text="Convert back" type="normal" [width]="200" [visible]="true"
        (onClick)="reconvertir()">
      </dx-button>

    </div>
  </dxi-item>

  <dxi-item title="Help">
  <!-- <dxi-item [title]="LANG_title_help"> -->
    <div class="content-block">
      <p>1. Load your documents</p>
      <img src="aide1.png" style="max-width:100%">
      <br>
      <p>2. Click on the pen to modify the document-separating tag</p>
      <img src="aide2.png" style="max-width:100%">
      <br>
      <p>3. Indicate the document separating-tag and click on "SAVE"</p>
      <img src="aide3.png" style="max-width:100%">
      <br>
      <p>4. Answer the CAPTCHA</p>
      <img src="aide4.png" style="max-width:100%">
      <br>
      <p>5. Modify the project name if you wish to, click on "GENERATE" and wait until your converted corpus is automatically downloaded</p>
      <img src="aide5.png" style="max-width:100%">
      <br>
      <p>6. Once in INCEpTION, in the "Projects" tab, import the downloaded file by clicking on "Import project"</p>
      <img src="aide6.png" style="max-width:100%">
      <!-- <br> -->

    </div>
  </dxi-item>


</dx-tab-panel>



<!-- <dx-popup [position]=" { my: 'right', at: 'center'  }" [width]="300" [height]="400" [showTitle]="true" [shading]="false"
    title="Sélection" [dragEnabled]="true" [closeOnOutsideClick]="false" [showCloseButton]="false" [resizeEnabled]="true" 
    container=".dx-viewport" [visible]="popupSelectVisible" [hideOnParentScroll]="true">
    
  </dx-popup> -->

<!-- <dx-popup [position]=" { my: 'center', at: 'center'  }" [width]="1200" [showTitle]="true" [shading]="false"
    title="Suggestions" [dragEnabled]="true" [resizeEnabled]="true"  [closeOnOutsideClick]="false" [showCloseButton]="false"
    container=".dx-viewport" [visible]="suggestionPopupTagsVisible" [hideOnParentScroll]="true" id="suggestionBox">
  
    <dx-data-grid id="tagdefGrid" [allowColumnResizing]="true" [columnAutoWidth]="true" [dataSource]="suggestionDataSource" keyExpr="id" [showColumnHeaders]="true"  (onRowUpdated)="onRowUpdated($event)"
      [showBorders]="true" (onToolbarPreparing)="onToolbarPreparingSuggestionPopup($event)" (onRowUpdated)="updateSystem()">
      <dxo-editing mode="popup" [allowUpdating]="true"    [allowDeleting]="true"    [allowAdding]="false"></dxo-editing>
      <dxo-scrolling mode="normal"></dxo-scrolling>
     
        <dxi-column dataField="quality" caption="Qualité" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="scale" caption="Echelle" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="suggestions_str" caption="Suggestions" [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="choice" caption="Choix"></dxi-column>      
      
      <div *dxTemplate="let data of 'cellTemplate'">
        <dx-color-box [readOnly]="true" 
            [value]="data.value"
            applyButtonText="OK"
            cancelButtonText="Annuler"
          ></dx-color-box>
      </div>
  
    </dx-data-grid>
    
      <br/>
      <span id="first_document_announcer_span" style="display:block">Premier document (sur <span id="number_of_documents_span"></span>):</span>
      <br/>
      <dx-text-area [spellcheck]="false" [value]="first_document" [visible]="firstDocumentVisible" height="15%"></dx-text-area>
      <br/>
      
      <dxi-item location="before" [visible]="auto_authentication">
        
        <span>Nom du projet : </span>
        <dx-text-box placeholder="Nom du projet" id="project_name_input" style="display:inline" [(value)]="project_name"></dx-text-box>
        <canvas id="captcha_canvas" style="display:inline; position: absolute; right: 22%" width="180" height="50"></canvas>
          <dx-text-box placeholder="Réponse au captcha" id="captcha_input" style="display:inline; position:absolute; right: 2%" [(value)]="captcha_user_answer"></dx-text-box>
          
      </dxi-item>
      <dxi-item location="after">
           
        <dx-button
        stylingMode="contained"
        text="Générer"
        type="normal"
        [width]="200"
        [visible]="firstDocumentVisible"
        (onClick)="generer()">
        </dx-button>
        
      </dxi-item>
      <br/>
      <dx-progress-bar [min]="0" [max]="100" [value]="conversion_progress"></dx-progress-bar>

  </dx-popup> -->